<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.diningedge.Regression.CreateProductFlow"/>
      <class name="com.diningedge.Regression.SendOGTest"/>
      <class name="com.diningedge.Regression.SendOrderFromOG"/>
      <class name="com.diningedge.Regression.OrderEdgeProductFlow"/>
      <class name="com.diningedge.Regression.NewVendorFlow"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
